irc:
    host: irc.oftc.net
    port: 6697
    ssl: true

bot:
    nick: sentry
    user: sentry
    name: sentry

security:
    ssl:
        verify: false

channels:
    - "#chan"

plugins:
    identify:
        enabled: true
        password: password
    reddit:
        enabled: true
        username: user
        password: pass
    youtube:
        enabled: true
        apikey: apikey
    vimeo:
        enabled: true
        apikey: apikey
